.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

i {
  font-size: 5em;
}

header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}

.title {
  color: white;
  font-style: italic;
  font-family: 'Iceland';
  font-size: 5rem;
  text-decoration: none;
  font-weight: bold;
  margin: 15px;
}

.navbar {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}

.navLink {
  margin: 5px;
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: rgb(110, 91, 196);
}

.logIn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  text-decoration: none;
  color: white;
}

.logIn:hover {
  color: rgb(110, 91, 196);
}

body {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
}

.page-content {
  height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #282c34;
  height: 100px;
  width: 100%;
}
